<!DOCTYPE html>
<html>
  <head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </head>
  <body>
    <button class="button button4" onclick="location.href='/dashboard/'">Back</button><br>
    <div class = "menu">
      <form method="post">
        <h1>Change Password</h1>
        <input type="password" name="oldPassword" placeholder="Old Password" required="required" />
        <input type="password" name="newPassword" placeholder="New Password" required="required" />
        <input type="password" name="matchPassword" placeholder="Match New Password" required="required" />
        <button type="submit" class="button button3">Update Password</button><br>
        <button class="button button3" onclick="location.href='/generatePassword/'">Generate Password</button><br>
        {% if generatedPassword %}
          <h2>Your generated password: {{generatedPassword}}</h2>
        {% endif %}
      </form>
        <br><br>
        <button class="button button3" onclick="location.href='/delete/'">Delete Account</button><br>
    </div>
  </body>
</html>
