<!DOCTYPE html>
<html>
  <head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </head>
  <body>
    <button class="button button4" onclick="location.href='/fileManagement/'">Back</button><br>
    <div class = "menu">
      {% if data %}
        <table>
          <tr>
            <th>File Name</th>
            <th>Download</th>
          </tr>
        {% for item in data %}
          <tr>
            <td>{{item[0]}}</td>
            <td><button class="button button4" onclick="location.href='/download/{{item[0]}}'">Download</button></td>
          </tr>
        {% endfor %}
      {% endif %}
      {% if not data %}
        <h1>You have not uploaded any files yet.</h1>
      {% endif %}
    </div>
  </body>
</html>
