<!DOCTYPE html>
<html>
  <head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </head>
  <body>
    <button class="button button4" onclick="location.href='/fileManagement/'">Back</button><br>
    <div class = "menu">
      <form action = "http://localhost:5000/upload/" method = "POST" enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <button type="submit" class="btn btn-primary btn-block btn-large">Submit</button>
      </form>
    </div>
  </body>
</html>
